Django==1.10.6
django-appconf==1.0.2
django-contrib-comments==1.8.0
django-crispy-forms==1.6.1
django-haystack==2.6.1
django-imagekit==4.0.1
django-markdownx==2.0.21
django-threadedcomments==1.1
jieba==0.38
Markdown==2.6.8
olefile==0.44
pilkit==2.0
Pillow==4.2.1

Pygments==2.2.0
PyMySQL==0.7.11
six==1.10.0
Whoosh==2.7.4
