{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
{% for post in post_list %}
<div class="row">
    <div class="col-md-6 col-sm-6">
        <article class="blog-teaser">
            <header>
                <img src="{{ post.0.title_img.url }}" alt="">
                <h3><a href="{{ post.0.get_absolute_url }}">{{ post.0.title }}</a> </h3>
                <span class="meta">{{ post.0.created_time }} &nbsp;  浏览:{{ post.0.views }}  </span>
                <p style="color: #5b6268;">
                    分类:<a href="{% url 'blog:category' post.0.category_id %}">{{ post.0.category }}</a> &nbsp;
                    标签:{% for tag in post.0.tag.all %}
                        <a href="{% url 'blog:tag' tag.id %}">{{ tag.name }}</a>
                        {% endfor %}

                </p>

                <hr>
            </header>
            <div class="body" >
                <p style="text-align: justify">
                {{ post.0.excerpt }}
                </p>
            </div>
            <div class="clearfix">
                <a href="{{ post.0.get_absolute_url }}" class="btn btn-clean-one">阅读全文</a>
            </div>
        </article>
    </div>
    {% if post.1 %}
    <div class="col-md-6 col-sm-6">
        <article class="blog-teaser">
            <header>
                <img src="{{ post.1.title_img.url }}" alt="">
                <h3><a href="{{ post.1.get_absolute_url }}">{{ post.1.title }}</a></h3>
                <span class="meta">{{ post.1.created_time }} &nbsp;  浏览:{{ post.1.views }}  </span>
                 <p style="color: #5b6268;">
                    分类:<a href="{% url 'blog:category' post.1.category_id %}">{{ post.1.category }}</a> &nbsp;
                    标签:{% for tag in post.1.tag.all %}
                        <a href="{% url 'blog:tag' tag.id %}">{{ tag.name }}</a>
                        {% endfor %}

                </p>
                <hr>
            </header>
            <div class="body">
                {{ post.1.excerpt }}
            </div>
            <div class="clearfix">
                <a href="{{ post.1.get_absolute_url }}" class="btn btn-clean-one">阅读全文</a>
            </div>
        </article>
    </div>
    {% endif %}
</div>

{% endfor %}




    <div class="text-center">
    <nav aria-label="Page navigation ">
  <ul class="pagination " style="margin-bottom: 0">

  {% if is_paginated %}

    {% if page_obj.number != 1 %}
    <li>
      <a href="?page=1" aria-label="首页">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
    {% endif %}

    {% for i in page_range %}

        {% if i == page_obj.number %}
            <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}

    {% endfor %}

    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">下一页</a></li>
    {% endif %}
    {% if page_obj.number != paginator.num_pages  %}
    <li>
      <a href="?page={{ paginator.num_pages }}" aria-label="最后一页">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  {% endif %}

  </ul>
    <div class="text-center">第&nbsp;{{ page_obj.number }}&nbsp;/&nbsp;{{ paginator.num_pages }}&nbsp;页</div>
</nav>
    </div>
{% endblock main %}
