{% load staticfiles %}
<link rel="stylesheet"  href="{%static "blog/css/code/friendly.css"%}">
<link rel="stylesheet" href="{%static "blog/css/bootstrap/3.3.7/bootstrap.min.css" %}">
<style>

    textarea{
    resize:none;
    width:100%;
    max-width: 600px;
    height:300px;
    max-height:600px;
    overflow-y:auto;
    }

    .preview{
    resize:none;
    width:100%;
    max-width: 600px;
    height:600px;
    word-break: break-all;
    overflow-y:auto;
    }

</style>
<br><br>
<div class="markdownx row" >
    <div class="col-md-6">
        {{ markdownx_editor }}
    </div>
{#    <div class="col-md-2"></div>#}
{#    <div></div>#}
    <div class="col-md-6">
        <div class="markdownx-preview preview">
    </div>
</div>

