{% extends 'base.html' %}
{% block titile %}密码修改成功{% endblock titile %}

{% block top %}
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
{% endblock top %}

{% block users %}
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h3 style="text-align: center">密码修改成功！</h3>
                <a href="/"><button type="button" class="btn btn-primary btn-block" >返回首页</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock users %}