{% extends 'base.html' %}
{% load staticfiles %}
{% block titile %}修改密码{% endblock titile %}

{% block top %}
    <link rel="stylesheet" href="{% static 'blog/css/user/user_style.css' %}">
{% endblock top %}
{% block breadcrumb %}
    <span class="separator">&#x2F;</span>
    <a href="{% url 'password_change' %}">修改密码</a>
{% endblock breadcrumb %}
{% block users %}

  <div class="widewrapper main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 clean-superblock" id="contact">
                <h3>修改密码</h3>
                <form class="form" action="{% url 'password_change' %}" method="post">

                    {% csrf_token %}

                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
{#                        {% if field.help_text %}#}
{#                            <p class="help text-small text-muted">{{ field.help_text | safe }}</p>#}
{#                        {% endif %}#}
                    {% endfor %}


                    <div class="login_bottom">
                        <button type="submit" class="btn btn-primary btn-block">确认修改</button>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>
</div>










{#<div class="flex-center">#}
{#    <div class="container">#}
{#        <div class="flex-center">#}
{#            <div class="unit-1-2 unit-1-on-mobile">#}
{#                <h3>修改密码</h3>#}
{#                <form class="form" action="{% url 'password_change' %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    {{ form.non_field_errors }}#}
{#                    {% for field in form %}#}
{#                        {{ field.label_tag }}#}
{#                        {{ field }}#}
{#                        {{ field.errors }}#}
{#                        {% if field.help_text %}#}
{#                            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                    <button type="submit" class="btn btn-primary btn-block">确认修改</button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{% endblock users %}