{% load comments i18n crispy_forms_tags %}
{#{% get_comment_form for post as blog_form  %}#}
<!-- 评论表单 -->
{#{% if user.is_authenticated %}#}
<div id="wrap-form-comment">
    <div class="well" id="form-comment">
        <h4>评论:</h4>
        <form role="form" id="myform" action="{% comment_form_target %}" method="post">
        {% csrf_token %}
         {{form.content_type}}{{form.object_pk}}{{form.timestamp}}{{form.security_hash}}

        {% if next %}
            <div><input type="hidden" name="next" value="{{ next }}"/></div>
        {% endif %}
{##}
            <textarea style="width: 100%;resize: vertical" rows="5"  id="id_comment" name="comment" placeholder="快输入你机智的评论吧o(≧v≦)o~~" class="form-control input-lg"></textarea>
            <br>
{#        {% crispy form %}#}
            <div style="text-align: right" id="P_tips">
                <div id="tips"  style="display: none;color: red;float: left;">(*•ω•)评论不能为空哦</div>
                <!--获取回复评论id-->
                <input id="id_parent" name="parent" type="hidden">
            <input type="button"  class="btn btn-primary" value="发表评论">
            <button id="cancel_reply"  type="button" class="btn btn-default">取消评论</button>
            <input type="hidden" name="next" value="{%url 'blog:detail' post.id%}"/>
            </div>
        </form>
    </div>
</div>
{#{% else %}#}
{#  <p>Please <a href="/login/">log in</a> to post comments.</p>#}
{#{% endif %}#}

