{% extends 'base.html' %}
{% load staticfiles %}
{% block titile %}500 Server Error{% endblock titile %}

{% block breadcrumb %}
    <span class="separator">&#x2F;</span>
    <a href="#">500 Server Error</a>
{% endblock breadcrumb %}
{% block users %}

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 clean-superblock" id="contact">
                    <h2>500 Server Error</h2>
                    <h3>遭遇金馆长袭击，内部服务器错误！</h3>
                    <h3>请速与管理员取得联系～</h3>
                    <img src="{% static 'blog/img/500.jpg' %}">

                </div>
            </div>
        </div>
    </div>

{% endblock users %}
